<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Zoo Management</h1>
            <h2 class="masthead-subheading mb-0 invisible">Will Rock Your Socks Off</h2>

            <a class="btn btn-dark btn-xl rounded-pill mt-5" asp-area="" asp-controller="Habitats" asp-action="Index">View Habitats</a>
            <a class="btn btn-dark btn-xl rounded-pill mt-5" asp-area="" asp-controller="Employees" asp-action="Index">View Employees</a>
        </div>
    </div>
</header>